@using AdvertisingAgency.Models;
<html>
        <head>
       <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <link href="~/css/director_style.css" rel="stylesheet" type="text/css">
     <link href="~/css/nav_style.css" rel="stylesheet" type="text/css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
</head>

<body>


    
    <div class="nav">
            <ul class="main_nav">
                <li class="active"><a href="/Client">Главное</a></li>
                <li> <a href="/Client/Out">Выйти</a></li>
            </ul>
    </div>

    <div>
        <form class="container" action="/Client/AddPreference">
            <ul>
                <li>
                    <label>Аудитория</label>
                </li>
                <li>
                    <input type="radio" id="1" name="audience" value="3+" />
                    <label for="1">3+</label>
                    <input type="radio" id="2" name="audience" value="18" />
                    <label for="2">До 18</label>
                    <input type="radio" id="3" name="audience" value="18-45" />
                    <label for="3">18-45</label>
                    <input type="radio" id="4" name="audience" value="45+" />
                    <label for="4">45+</label>
                </li>
                <li>
                    <label>Краткое описание</label>
                </li>
                <li>
                    <input class="form-control" type="text" name="preculiarities" />
                </li>
                <li>
                    <label>Количество дней</label>
                </li>
                <li>
                    <input class="form-control" type="number" name="period" />
                </li>
                <li>
                    <label>Максимальная сумма</label>
                </li>
                <li>
                    <input class="form-control" type="number" name="max_sum" />
                </li>
            </ul>
            <button class="btn btn-success" type="submit">Создать</button>
        </form>
    </div>
</body>
</html>