@using AdvertisingAgency.Models;
@using AdvertisingAgency.Models.CompositeModel;
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
     <link href="~/css/director_style.css" rel="stylesheet" type="text/css">
     <link href="~/css/nav_style.css" rel="stylesheet" type="text/css">
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<body>
    <div class="nav">
            <ul class="main_nav">
                <li class="active"><a href="#">Главная</a></li>
                <li> <a href="/CreativeManager/Out">Выйти</a></li>
            </ul>
    </div>

    <div class="prefferences">
        <p>Назначеный проэкт</p>
        @if(ViewBag.NoEmpty) 
        {
            <p>Краткое описание @ViewBag.Preference.preculiarities</p>
            <p>Аудитория @ViewBag.Preference.audience</p>
            <p>Спецификация работи @ViewBag.Working.specification</p>
            <p>Выполненая работа @ViewBag.Working.description</p>
            <form action="/CreativeManager/Update">
                <label>Выполненая работа</label>
                <input type="text" name="description"/>
                <button type="submit">Добавить</button>
            </form>
            <a href="/CreativeManager/Finish">Робота Готова</a>
        }
    </div>
</body>
</html>